@model PagedList.IPagedList<GitHubSearch.Models.Search>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<style>
    input[type="checkbox"][readonly] {
        pointer-events: none;
    }
</style>
<h2>Search List</h2>
<table class="table">
    <tr>
        <th>Date</th>
        @foreach (var lang in ViewBag.Languages)
        {
            <th>@lang.Name</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Date.ToString(), "Detail", new { id = item.Id })
            </td>
        @foreach (var lang in ViewBag.Languages)
        {

            <td>
                @{ var add = false;}
                @foreach (var I in item.Languages)
                {
                    if (lang.Name == I.Name)
                    {
                        <input class="form-check-input" type="checkbox" checked readonly >
                        add = true;
                    }
                }
                @if (add == false)
                {
                        <input class="form-check-input" type="checkbox" readonly >
                }
            </td>
        }
    </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("List", "Search", new { page }))
