@model GitHubSearch.Models.Search

<h2>Home</h2>
<div align="center">
    @using (Html.BeginForm("Index", "Search"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            
            <h4>Which languages do you want to search?</h4>

            <div class="form-group center-block">
                @Html.CheckBoxFor(model => model.Asp)
                @Html.LabelFor(model => model.Asp)
                @Html.CheckBoxFor(model => model.Java)
                @Html.LabelFor(model => model.Java)
                @Html.CheckBoxFor(model => model.Php)
                @Html.LabelFor(model => model.Php)
                @Html.CheckBoxFor(model => model.Python)
                @Html.LabelFor(model => model.Python)
                @Html.CheckBoxFor(model => model.C)
                @Html.LabelFor(model => model.C)
            </div>
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    }
</div>
